@each $name,
$color in $theme-colors {
    // Base color
    .bg-#{$name} {
        background-color: $color !important;
    }
}

.bg-ezs {
    background-color: $color-app !important;
}

.Modal-Portal {
    position: relative;
    z-index: 100000;
}