/* Your app custom styles here */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap');
@import './abstracts/variables';
@import './../css/abstracts/mixins';
@import './base/reset';
@import './../components/nav/Nav.scss';
@import './../components/navBar/navBar.scss';
//Font family
body,
html {
    font-family: $font-app;
}

//Custom Page
.page-custom {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;
    &.ezs-nav {
        padding-bottom: $h-nav;
    }
    &.ezs-navbar {
        padding-top: $h-nav;
    }
    .page-render {
        overflow: auto;
        height: 100%;
    }
}