/* Your app custom styles here */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
// abstracts
@import './abstracts/variables';
@import './../css/abstracts/mixins';
// base
@import './base/reset';
// layout
@import './../css/layout/navbar';
@import './../css/layout/toolbar';
// pages
@import './../css/pages/news.scss';
@import './../css/pages/shop.scss';
//Font family
body,
html {
    font-family: $font-app2 !important;
}

.p-0 {
    padding: 0 !important;
}

.no-bg {
    background: transparent !important;
}

//Reset Framework7
.toolbar {
    padding: 0;
    background: $white;
    box-shadow: $shadow-box-top;
    &-inner {
        padding: 0;
    }
    &:before {
        height: 0;
    }
}

.ios-translucent-bars .toolbar {
    background: $white;
    box-shadow: $shadow-menu;
}

.navbar {
    &-bg {
        background: $color-app;
        border-bottom: solid 2px rgba(255, 255, 255, 0.3);
        &:after {
            background-color: transparent;
        }
    }
    &-inner {
        padding: 0;
    }
}

.navbars .navbar.navbar-current {
    z-index: 10;
}

.navbars .navbar.navbar-previous .page-navbar__back a.link {
    opacity: 0;
}

.ios-translucent-bars .navbar-bg {
    background-color: $color-app;
}

//Component
.page-render {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(241, 245, 248, 1) 100%);
    padding: $pd-app;
}